{% extends 'home_wrapper.html' %}

{% block content %}
<center>
    <h1>Алгоритмы ансамблирования</h1>
</center>

<center>
    Здесь можно обучить случайный лес или градиентный бустинг для задачи регрессии для квадратичной функции потерь.
    Чтобы выбрать модель, перейдите в нужную вкладку сверху.
    После удачного создания модели, её можно найти во вкладке "models". <br>
    Для обучения модели на ваших данных будут выкинуты все столбцы с нечисловыми значаениями.
    В отдельном поле нужно будет указать столбец, соответствующий целевой переменной.
    Остальные столбцы будут восприняты как числовые признаки (порядковые целочисленные или вещественные).

</center>
{% endblock content %}